<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{include/meta::meta_html}"></div>
<body>
<div class="container">
    <h1>新建/修改菜品</h1>

    <form th:action="${dishVo.id==0} ? @{/web/dish/addSave} : @{/web/dish/editSave}" th:object="${dishVo}" method="post">
        <input type="hidden" class="form-control" th:field="*{id}" />
        <div th:if="${#fields.hasAnyErrors()}">
            <ul>
                <li th:each="err:${#fields.allErrors()}" th:text="${err}" />
            </ul>
        </div>

        <div class="form-group">
            <label>名稱</label>
            <input type="text" class="form-control" th:field="*{name}" />
            <div class="alert alert-warning" th:if="${#fields.hasErrors('name')}" th:errors="*{name}" />
        </div>
        <div class="form-group">
            <label>價格</label>
            <input type="text" class="form-control" th:field="*{price}" />
            <div class="alert alert-warning" th:if="${#fields.hasErrors('price')}" th:errors="*{price}" />
        </div>
        <div class="form-group">
            <label>分類</label>
            <select class="form-control" th:field="*{categoryId}">
                <option th:each="category:${categories}"
                        th:value="${category.id}" th:text="${category.name}"></option>
            </select>
        </div>
        <div class="form-group">
            <label>圖片</label>
            <input type="text" class="form-control" th:field="*{image}" />
            <img style="width:150px" th:src="@{/web/common/download?fileName={fileName}(fileName=*{image})}" th:if="*{image!=null}"/>
            <div class="alert alert-warning" th:if="${#fields.hasErrors('image')}" th:errors="*{image}" />
            <input type="button" value="選擇圖片" onclick="choiceImage()">
        </div>
        <div class="form-group">
            <label>順序</label>
            <select class="form-control" th:field="*{sort}">
                <option th:each="i : ${#numbers.sequence(0, 10)}" th:value="${i}" th:text="${i}">
                </option>
            </select>
        </div>
        <div class="form-group">
            <label>描述</label>
            <textarea class="form-control" th:field="*{description}"></textarea>
            <div class="alert alert-warning" th:if="${#fields.hasErrors('description')}" th:errors="*{description}" />
        </div>

        <div class="form-group">
            <label>口味</label>
            <div th:if="${dishVo.id==0}" th:each=" flavor,itemStat:${T(com.boss.demo.tools.ItemsInfo).getDishFlavorChoices()}">
                <input th:name="|dishFlavors[${itemStat.index}].name|" th:value="${flavor.getValue()}" />
                <input th:name="|dishFlavors[${itemStat.index}].description|"  th:value="${flavor.getMessage()}"  />
            </div>
            <div th:if="${dishVo.id>0}" th:each="flavor, itemStat : *{dishFlavors}">
                <input th:name="|dishFlavors[${itemStat.index}].name|" th:value="${flavor.getName()}" />
                <input th:name="|dishFlavors[${itemStat.index}].description|"  th:value="${flavor.getDescription()}"  />
            </div>

        </div>
        <div>
            <input type="submit" class="btn btn-primary" value="保存" />
            <a class="btn btn-primary" th:href = "@{/web/dish}">回列表</a>
        </div>
    </form>



</div>

<div th:replace="~{include/meta::footer_html}"></div>






<!-- 上傳圖片 -->
<div class="modal" tabindex="-1" id="uploadDiv">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">上傳圖片</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <iframe id="ifr" name="ifr"></iframe>
                <form th:action="@{/web/common/upload}" method="post" enctype="multipart/form-data" target="ifr">
                    <div>
                        <input type="file" name="file" />
                    </div>
                    <div>
                        <input type="submit" class="btn btn-primary" value="上傳檔案" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function choiceImage(){
        $("#uploadDiv").modal({backdrop: 'static',keyboard: false});
    }
    function setImageFile(fileName){
        $("#image").val(fileName);
        $("#uploadDiv").modal('hide');
    }
</script>


</body>
</html>


