<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extra-springsecurity5">

<div th:replace="~{include/meta::meta_html}"></div>
<body>


<div sec:authorize="isAuthenticated()">
    Authenticated as <span sec:authentication="name">
</span>
</div>

<div class="container">
    <h1>分類列表</h1>
    <form th:action="@{/web/dish/}" method="get" th:object="${searchVo}">
        姓名︰<input type="text" th:field="*{searchName}" />
        <input type="submit" value="search" />
    </form>

    <a th:href="@{/web/dish/add/}">新建</a>
    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>ID</th>
            <th>名稱</th>
            <th>分類</th>
            <th>價格</th>
            <th>排序</th>
           <th>建立時間</th>
            <th>功能</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="dish:${dishVos}">
            <td th:text="${dish.id}"></td>
            <td th:text="${dish.name}"></td>
            <td th:text="${dish.category_name}"></td>
            <td th:text="${dish.price}"></td>
            <td th:text="${dish.sort}"></td>
            <td th:text="${#dates.format(dish.createTime, 'yyyy-MM-dd hh:mm:ss')}"></td>
            <td>
                <a th:href="@{/web/dish/edit/{id}(id=${dish.id})}">修改</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div>
        目前頁<span th:text="${dishVos.pageable.pageNumber}"></span>
        總頁數︰<span th:text="${dishVos.totalPages}"></span>
        總筆數︰<span th:text="${dishVos.totalElements}"></span>
    </div>
    <a th:href="@{/web/dish/?searchName={searchName}&page={page}(searchName=${searchVo.searchName},page=${dishVos.pageable.pageNumber-1})}">上一頁</a>
    <a th:href="@{/web/dish/?searchName={searchName}&page={page}(searchName=${searchVo.searchName},page=${dishVos.pageable.pageNumber+1})}">下一頁</a>




    <div th:text="${T(com.boss.demo.tools.ItemsInfo).toUpperCase('HelloWorld')}"></div>

    <div th:text="${memberService.getMemberById(1).getName()}"></div>

</div>

<div th:replace="~{include/meta::footer_html}"></div>

</body>
</html>


