<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{include/meta::meta_html}"></div>

<script th:inline="javascript">
var fileName =[[${fileName}]];
window.onload = function(){
    if( fileName!=null ){
        parent.setImageFile(fileName);
    }
}
</script>

<body>
<div class="container">
    <h1>檔案上傳</h1>
    <img style="width:150px" th:src="@{/web/common/download?fileName={fileName}(fileName=${fileName})}" th:if="${fileName!=null}"/>
    <form th:action="@{/web/common/upload}" method="post" enctype="multipart/form-data">
        <div>
            <input type="file" name="file" />
        </div>
        <div>
            <input type="submit" class="btn btn-primary" value="上傳檔案" />
        </div>
    </form>
</div>

<div th:replace="~{include/meta::footer_html}"></div>

</body>
</html>


